---
title: Virtus Rail
---
.row
  .span10.offset1
    .text
      BIENVENIDOS<br/>
      Virtus Rail es una empresa 100% mexicana enfocada en el desarrollo de software para el sector ferroviario de 15 años de experiencia en este sector.<br/>
      Hemos desarrollado los siguientes sistemas:<br/>

<br/>
.row
  .cuadro
    .span3
      .hero-unit
        %a{:href => "/ETS/index.html"}
          %img{:src => "/images/ETS.png", :alt => "ETS"}
        ETS<br/> Virtus ETS Hoja de Trenes.<br/>
        

    .span3
      .hero-unit
        %a{:href => "/CCT/index.html"}
          %img{:src => "/images/cct.png", :alt => "CCT"}
        CCT<br/> Virtus CCT<br/>
        
    .span3
      .hero-unit
        %a{:href => "/INTERACTION/index.html"}
          %img{:src => "/images/interaction.png", :alt => "INTERACTION"}
        Interaction<br/>  Virtus Interaction <br/>


