---
title: Características CCT
layout: layoutCCT
---

.row
  .title
    Características generales Virtus CCT

  .row
    .span3
      %img{:src => "/images/cct_2.jpg", :alt => "xHosp"}
    .span5
      .text
        %ul
          %li
            Interfaz amigable:<br/>
            Opera sobre ambiente Windows.<br/>
            
          %li          
            Disponibilidad de información:<br/>
            Cada actividad de campo y despacho es almacenada en una base de datos SQL, incluyendo todas las alarmas configuradas, por tanto, se extiende la capacidad de reportes.
            <br/>
          %li
            Escalable:<br/>
            Trabaja tanto en una simple estación de trabajo, como en un sistema completo cliente-servidor consistente en varias computadoras.<br/>
  .row 
    .text      
      %ul
      %li 
        Tecnología de punta:<br/>
        Desarrollado para Microsoft .NET Framework,        Programado en C#, Base de datos SQL Server 2000,    Diseño flexible y robusto orientado a objetos.<br/>
      %li           
        Redundancia en estaciones de trabajo, servidores y equipo de comunicaciones.
      %li  
        Requerimientos<br/>
        PC con procesador Pentium IV, 256 MB RAM o mayor<br/>
        Microsoft Windows 2000, Microsoft Windows XP o Microsoft Windows 2003<br/>
        Resolución de vídeo: 1280 x 1024 o mayor<br/>


      