---
title: Funcionalidad Virtus CCT
layout: layoutCCT
---
.row
  .title
    Funcionalidad Virtus CCT
.row
  .text
    %ul
      %li 
        El usuario final puede dibujar nuevos diagramas fácilmente
      %li 
        Bloqueo de maquinas de cambio y vías
      %li 
        Control de máquinas de cambio
      %li 
        Ruteo NX (Entradas/Salidas)
      %li 
        Mantenimiento seguro de campo mediante bloqueo de localidades
      %li 
        Sistema de pruebas para equipo de comunicaciones
      %li 
        Registro y reproducción de eventos
      %li 
        Panel de control de alarmas
      %li 
        Hoja de trenes automática<br/>
        %img{:src => "/images/cct_3.jpg", :alt => "xHosp"}
      %li 
        Administración de fallas de trenes y observaciones del despacho>
      %li 
        Reportes flexibles<br/>
        %img{:src => "/images/cct_4.jpg", :alt => "xHosp"}

