---
title: Virtus CCT
layout: layoutCCT
---
.row
  .title
    Virtus CCT <br/>
  .row
    %img{:src => "/images/cct_1.jpg", :alt => "Virtus ETS"}
  .row
    .text
      <br/>
      Virtus CCT es un sistema de despacho de trenes en tiempo real asistido por computadora, provee herramientas gráficas y audibles que soportan una operación de despacho eficiente y confiable. Cuenta con características de seguridad para mantener siempre una correspondencia entre los elementos de campo y las condiciones de operación.<br/>

      El sistema adquiere datos mediante drivers de comunicación lo que permite la flexibilidad de operar con diferentes sistemas de adquisición de datos.<br/>

      Adicionalmente incluye diferentes niveles de seguridad con accesos específicos permitiendo la configuración de despacho, supervisión y mantenimiento.<br/>

