---
title: Operación Virtus CCT
layout: layoutCCT
---

.row
  .title
    Operación Virtus CCT
  .text
    %ul
      %li
        Hot backup<br/>
        El sistema mantiene una sincronización total entre servidores manteniendo las condiciones de operación actuales.<br/>
      %li
        Despacho<br/>
        Provee la capacidad de despacho desde cualquier estación de trabajo o servidor en la red.<br/>
      %li
        Reproducción<br/>
        En cualquier momento el sistema puede reproducir las actividades almacenadas, brindando una útil herramienta en la evaluación de incidentes.<br/>
      %li
        Simulación<br/>
        En este modo de operación el sistema simula el despacho de trenes con propósitos de capacitación. Esta información también puede ser reproducida para evaluación.<br/>
      %li
        Herramientas de operación<br/>
        El sistema incluye utilerías de software adicionales para el mantenimiento de cuentas de usuarios, configuración de redundancia, estaciones de trabajo, estadísticas de comunicaciones y configuración general del sistema.<br/>

