---
title: Funcionalidad Virtus Interaction
layout: layoutINTERACTION
---
.row
  .title
    Funcionalidad Virtus Interaction
.row
  .text
    %ul
      %li        
        Módulo de edición<br/>
        Permite al usuario final configurar fácilmente sus propios diagramas y asociar los elementos gráficos con la información de campo.<br/>

        Mediante el empleo de plantillas inteligentes se simplifica la edición de los diagramas ya que el usuario solamente tiene que escoger el elemento que desee de la barra de herramientas, colocarlo en la posición adecuada en el diagrama y configurar el origen de los datos asociados con el elemento.<br/>
        <br/>

      %li
        Características del módulo de edición<br/>

        Elementos primitivos: textos, curvas, arcos, elipses, círculos, líneas, polígonos, rectángulos,cuadrados, conectores, mapas de bits.<br/>

        Herramientas de edición: acercamiento (zoom), posicionamiento,cambio de tamaño, rotación, orden en el plano Z, alineación, reglas, rejilla y guías.<br/>

        Biblioteca de objetos y plantillas: asignar lógica a elementos, compartir elementos, crear plantillas con lógica predefinida.<br/>

        Capacidades de dibujo avanzadas: combinación de primitivas para crear un objeto, descomposición de objetos en primitivas, bloqueo de objetos, manejo de capas (layers).<br/>
        <br/>

      %li
        Módulo de operación<br/>

        Una vez configurados los diagramas, este módulo se encarga de obtener los datos de campo y actualizar los elementos gráficos.<br/>

        Por otro lado, el usuario puede interactuar con los elementos del diagrama para generar acciones de control en el mundo real.<br/>

        Este módulo permite realizar una interfaz prácticamente con cualquier sistema de adquisición de datos.<br/>
        <br/>

      %li
        Características del módulo de operación<br/>
        Actualización automática de la información<br/>
        Posibilidad de desplegar varios diagramas simultáneos<br/>
        Navegación en un diagrama<br/>
        Acercamiento (zoom)<br/>
        Navegación entre diagramas<br/>
        Atención de eventos de mouse y teclado<br/>