---
title: Virtus Interaction
layout: layoutINTERACTION
---
.row
  .title
    Virtus Interaction <br/>
  .row
    %img{:src => "/images/interaction_2.jpg", :alt => "Virtus Iteraction"}
  .row
    .text
      <br/>
      Interaction es un sistema para el desarrollo y operación de diagramas interactivos que reflejan en gran medida el mundo real, desplegando de manera dinámica la información obtenida de un sistema de adquisición de datos.<br/>

      Interaction se puede utilizar para crear aplicaciones de monitoreo, procesos industriales, planos arquitectónicos, mapas, unifilares y en general cualquier aplicación que requiera representar la información de una manera gráfica.<br/>

      Entre sus usuarios están las compañías de distribución de energía, gas o agua, plantas industriales, sistemas ferroviarios, etc.<br/>
      