---
title: Operación Virtus Interaction
layout: layoutINTERACTION
---

.row
  .title
    Operación Virtus Interaction
  .text
    %ul
      %li
        Módulo de edición<br/>
        Permite al usuario final configurar fácilmente sus propios diagramas y asociar los elementos gráficos con la información de campo.
      %li
        Módulo de operación<br/>
        Una vez configurados los diagramas, este módulo se encarga de obtener los datos de campo y actualizar los elementos gráficos.
      %li
        Módulo de seguridad<br/>
        Controla el acceso de los usuarios. Permite configurar para cada usuario los diagramas que puede ver y las actividades que puede realizar en cada uno de ellos.

 