---
title: Características ETS
layout: layoutETS
---

.row
  .title
    Características generales Virtus ETS Hoja de Trenes

  .row
    .text
      %ul
        %li
          Interfaz amigable:<br/>
          Opera sobre ambiente Windows.<br/>
          
        %li          
          Escalable:<br/>
          Puede trabajar tanto en una sola computadora como en un sistema cliente servidor totalmente redundante soportando varias consolas de despacho.
          <br/>
        %li
          Flexible:<br/>
          Puede interconectarse con otros sistemas mediante WebServices, XML o archivos planos.<br/>
        %li 
          Tecnología de punta:<br/>
          Diseñado y desarrollado con las últimas tecnologías y herramientas de programación orientada a objetos.<br/>
        