---
title: Funcionalidad Virtus ETS
layout: layoutETS
---
.row
  .title
    Funcionalidad Virtus ETS Hoja de Trenes
.row
  .text
    %ul
      %li 
        Módulo de movimientos<br/>
        Registro de tiempos de entrada y salida, tripulación, flete, tonelaje y combustible en cada una de las estaciones. Notificación de velocidad alta del tren de acuerdo al tiempo mínimo entre estaciones. Registro de rutas y utilización de máquinas de cambio con el fin de planear su mantenimiento.
      %li 
        Módulo de autorización de vía y tiempo<br/>
        Cuando se usa el sistema CCT, las autorizaciones de vía y sus tiempos son controlados de manera automática mediante colores, lo cual ayuda al despachador a tener una vista adecuada del estado de cada autorización
  .imgs
    %a{:href => "/images/ETSAutorizacion.JPG"}/
    
    
    %img{:src => "/images/ETSAutorizacionThumb.jpg", :alt => "ETS"}


.row
  .text
    <br/>
    %ul
      %li 
        Módulo de consultas<br/>
        Este módulo permite al usuario consultar de manera rápida y en tiempo real, toda la información necesaria para el despacho, usuarios internos o atención a clientes. Se pueden observar rutas de trenes, posición actual de un tren específico, itinerarios, tripulaciones y toda la información de los catálogos del sistema.
      %li 
        Módulo de reportes<br/>
        El módulo de reportes permite emitir reportes operativos y gerenciales. Entre los reportes operativos se incluyen los reportes de catálogos, itinerarios, tripulaciones y bitácoras de salida y entrada de ferrocarriles. Los reportes gerenciales son diseñados específicamente para cubrir las necesidades de cada ferrocarril en el momento de la implantación. Algunos reportes se consultan a través de la Web mediante un explorador de Internet, lo que permite que los ferrocarriles conectantes obtengan la información en cualquier momento sin tener que interrumpir la actividad de despacho o administrativa.
  .imgs
    %a{:href => "/images/ETSReporte.JPG"}/

    %img{:src => "/images/ETSReporteThumb.jpg", :alt => "ETS"}

.row
  .text
    <br/>
    %ul
      %li 
        Módulo de boletines<br/>
        Manejo de boletines forma A, B y C con consecutivos automáticos por consola. En el inventario de boletines se controlan automáticamente los boletines activos de acuerdo a la consola. La información es enviada de manera automáticas a los destinatarios finales por medio de un email con archivos adjuntos.
  .imgs
    %a{:href => "/images/ETSBoletin.JPG"}/

    %img{:src => "/images/ETSBoletinThumb.jpg", :alt => "ETS"}

.row
  .text
    <br/>
    %ul
      %li 
        Módulo de observaciones y fallas de máquinas<br/>
        Este módulo permite al despachador generar cualquier observación del estado de las vías y fallas de equipo ferroviario. De esta manera cualquier despachador puede estar enterado del estado de la infraestructura de vía en cualquier momento.
      %li 
        Módulo de seguridad<br/>
        En este módulo se controla el acceso al sistema. Cada usuario se puede configurar independientemente para tener acceso a ciertos módulos, pantallas o funciones específicas.


