---
title: Virtus ETS
layout: layoutETS
---
.row
  .title
    Virtus ETS - Hoja de Trenes <br/>
  .row
    %img{:src => "/images/ETSMovimientosThumb.jpg", :alt => "Virtus ETS"}
  .row
    .text
      <br/>
      Virtus ETS es un sistema asistido por computadora que sustituye la hoja de trenes en papel por una hoja de trenes totalmente electrónica. Virtus ETS se desarrolló para asistir al despachador en el registro de trenes y sus movimientos en las estaciones y proveer información en tiempo real a cualquier área de la empresa. Virtus ETS cuenta con funciones adicionales, como boletines, autorización de vía y tiempo, observaciones y fallas de máquinas, que contribuyen a una mejor operación por parte del despachador.<br/>
      <br/>
      Toda la información se almacena electrónicamente garantizando su seguridad, integridad y acceso inmediato.<br/>
      <br/>
      El sistema permite configurar cualquier infraestructura de vía permitiendo dividir el despacho en diferentes consolas con sus distritos correspondientes.<br/>
      <br/>
      En el caso de contar con información en tiempo de real de un sistema CCT (Control centralizado de tráfico), Virtus ETS presentará los movimientos de trenes automáticamente sin necesidad de intervención del despachador.