---
title: Operación Virtus ETS 
layout: layoutETS
---

.row
  .title
    Operación Virtus ETS
  .text
    %ul
      %li
        Despacho<br/>
        Provee la capacidad de despacho desde cualquier estación de trabajo o servidor en la red.<br/>
      %li
        Reportes<br/>
        En cualquier momento el sistema puede generar reportes de actividad actual o anterior para el control de incidentes.<br/>
      %li
        Consultas<br/>
        Toda la información que se ingrese en el sistema se puede accesar desde cualquier computadora.<br/>
      %li
        Hot backup<br/>
        El sistema mantiene una sincronización total entre servidores, manteniendo las condiciones actuales de operación en caso de falla o pérdida de energía.<br/>